.main-container{
  background-color: white;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 	1024px;
  min-width: 768px;
   width: 83.333333%;
   box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.login-container{
  padding-left: 8px;
padding-right: 8px;
	padding-top: 8px;
padding-bottom: 8px;
}

.title{
  font-weight: 500;
  font-size: 1.5rem;
line-height: 2rem;
margin-top: 50px;
text-align: center;
}

.login-form{
  margin-top: 10px;
}

.username-div{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}


.username-label{
display: block;
color:black;
}

.username-input{
  border-radius: 0.125rem;
  padding-top:3px ;
  padding-bottom: 3px;
  padding-left: 4px;
  padding-right: 4px;
}